@model IEnumerable<ControleFinanceiroBasico.Core.Models.Receita>;

<h1>Lista de Receitas</h1>

<div class="row">
    <div class="col-9">
        <form asp-action="Index" method="get">
            <div class="row g-3">
                <div class="col-sm-8">
                    <div class="mb-3">
                        <input type="text" class="form-control" name="textoPesquisa" placeholder="Pesquisar">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="mb-3">
                        <button type="submit" class="btn btn-success">Pesquisar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-3">
        <a type="button" class="btn btn-primary" asp-action="Cadastrar">Nova Receita</a>
    </div>
</div>

<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Data</th>
            <th>Descrição</th>
            <th>Valor</th>
            <th>Ação</th>
            
        </tr>
    </thead>

    <tbody>
        @foreach(var receita in Model)
        {
            <tr>
                <td>@receita.Id</td>
                <td>@receita.Data.ToString("dd/MM/yyyy")</td>
                <td>@receita.Descricao</td>
                <td>@receita.Valor.ToString("c2")</td>
                <td>
                    <a type= "button" class="btn btn-warning btn-sm" asp-action="Editar" asp-route-id="@receita.Id">Editar</a>
                    <a type= "button" class="btn btn-danger btn-sm" asp-action="Excluir" asp-route-id="@receita.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table> 